<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GLFW.NET" version="0.9.7.1" targetFramework="net472" />
  <package id="OpenGL.Net" version="0.8.4" targetFramework="net472" />
  <package id="OpenGL.Net.Math" version="0.8.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.3.0" targetFramework="net472" />
</packages>